<!DOCTYPE html>
<html>
    <head>
        <title>YoWassup?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap Glyphicons -->
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="css/bootstrap-flat.css" rel="stylesheet" media="screen">
        <!-- Our Styles -->
        <link href="css/main.css" rel="stylesheet" media="screen">
    </head>
    <body ng-app="chatApp" ng-cloak>
        
        <div class="container" ng-controller="Ctrl">

            <div id="nickWrap" class="row">
                <p id="nickError"></p>
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <form role="form" id="setNick" name="setNick" novalidate>
                        <fieldset>
                            <h2>Yo whas yo name?</h2>
                            <hr class="colorgraph">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" id="nickname" name="nickname" placeholder="nickname" ng-model="chatData.nickname" required />
                                <input type="email" class="form-control input-lg" id="email" name="email" placeholder="email" ng-model="chatData.email" required />
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" ng-click="submitNick()" value="Sign In" ng-disabled="setNick.$invalid" >
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

            <div id="contentWrap" class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-comment"></span> YoWassup?
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                                    </span>Refresh</a></li>
                                    <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                                    </span>Available</a></li>
                                    <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                                    </span>Busy</a></li>
                                    <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                        Away</a></li>
                                    <li class="divider"></li>
                                    <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                        Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <ul class="chat">
                                <li ng-class-odd="'right cleanfix'" ng-class-even="'left cleanfix'" ng-repeat="chatMessage in chatMessages track by $index">
                                        <span ng-class-odd="'chat-img pull-right'" ng-class-even="'chat-img pull-left'">
                                            <!-- <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /> -->
                                            <img src="http://www.gravatar.com/avatar/{{chatMessage.emailHash}}" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div ng-if="chatMessage.type != 'error'" class="{{chatMessage.type}} chat-body clearfix">
                                            <div class="header" ng-if="$odd">
                                                <strong class="primary-font">{{chatMessage.nick}}</strong>
                                                <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{chatMessage.created}}
                                                </small>
                                            </div>
                                            <div class="header" ng-if="$even">
                                                <small class="text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{chatMessage.created}}
                                                </small>
                                                <strong class="primary-font pull-right">{{chatMessage.nick}}</strong>
                                            </div>
                                            <p>
                                                {{chatMessage.msg}}
                                            </p>
                                        </div>
                                        <div ng-if="chatMessage.type == 'error'" class="{{chatMessage.type}} chat-body clearfix">
                                            <p>
                                               {{chatMessage.msg}}
                                            </p>
                                        </div>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <form role="form" id="sendMsg" name="sendMsg" novalidate>
                                <div class="input-group">
                                    <input id="btn-input" type="text" class="form-control input-sm" ame="message" ng-model="chatData.message" placeholder="Type your message here..." required />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-sm" id="btn-chat" ng-click="submitMessage()" ng-disabled="sendMsg.$invalid">
                                            Send</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div id="users">
                <div ng-repeat="username in usernames track by $index">{{username}}</div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- CryptoJS -->
        <script src="bower_components/cryptojs/rollups/md5.js"></script>
        <!-- MomentJS -->
        <script src="bower_components/momentjs/min/moment.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>